{% extends 'base.html' %}
{% block content %}

<h1>Car Details</h1>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ car.make }}</span>
        <p>model: {{ car.model }}</p>
        <p>year: {{ car.year }}</p>
        <p>Description: {{ car.description|linebreaks }}</p>
      </div>
        <div class="card-action">
          <a href="{% url 'cars_update' car.id %}">Edit</a>
          <a href="{% url 'cars_delete' car.id %}">Delete</a>
        </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_updates' car.id %}" method="POST">
        {% csrf_token %}
        <!-- Render the inputs -->
        {{ updates_form.as_p }}
        <input type="submit" class="btn" value="Add Updates">
    </form>
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Service</th></tr>
      </thead>
      <tbody>
        {% for updates in car.updates_set.all %}
          <tr>
            <td>{{updates.date}}</td>
            <td>{{updates.get_service_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- New Markup Above -->
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ car.make }}'s Upgrade</h3>
    {% if car.upgrade.count %}
      {% for upgrade in car.upgrade.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="description: {{ upgrade.description }}">{{ upgrade.description }}</span> {{ upgrade.name }}
            </span>
          </div>
          <div class="card-action">
              <form action="{% url 'delete_upgrade' car.id upgrade.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">Delete</button>
              </form>
            </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Upgrades 😿</h5>
    {% endif %}
  </div>
  <div class="col s6">
    <h3>Available Upgrades</h3>
    {% if upgrade.count %}
      {% for grade in upgrade.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="description: {{ grade.description }}">{{ grade.description }}</span> {{ grade.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_upgrade' car.id grade.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{car.make}} Already Has All Upgrades Available</h5>
    {% endif %}
  </div>
</div>
<script>
    const dateEl = document.getElementById('id_date');
   M.Datepicker.init(dateEl, {
     format: 'yyyy-mm-dd',
     defaultDate: new Date(),
     setDefaultDate: true,
     autoClose: true
  });

    const selectEl = document.getElementById('id_service');
    M.FormSelect.init(selectEl);
</script>
{% endblock %}